
.ourprofile-sec{
	.ourprofileRow{
		background-color: #F1F2F2;
	}
	h2{
		color: #002b46;
    font-weight: 700;
    font-size: 28px;
	}
	p{
		font-size: 16px;
		text-align: justify;
		font-weight: 500;
	}
	.aboutVideo{
		h2{
			display: none;
		}
	}
}




