
.placement-sec{
    .face{
        h2{
					display: none;
				}
		}
		.found{
			h3{
				span{
					font-weight: 500;
					color: #3c3d49;
					font-size: 18px;
				}
			}
			p{
				margin-bottom:5px;
			}
		}
}



