
.intheMedia{
	
	.profileBox{
		height: 100%;
		border: solid 1px #eb7f1c;
		.row{
			height: 100%;
		}
	}
	.face{
		padding:15px 0;
		span{
			display: block;
			text-align: center;
		}

		.date{
			color: #fff;
			font-weight: 700;
			font-size: 48px;
		}		
		.month{
			color: #fff;
			font-weight: 700;
			font-size: 18px;
			margin-bottom: 7px;
		}
		.year{
			color: #fff;
			font-weight: 700;
			font-size: 22px;
		}
	}

	.found{
		h3{
			font-size: 18px !important;
		}
	}
	.newsContent{
		height: 125px;
		overflow-y: scroll;

	}
}


